@* Generator: Template *@
@functions {
	public SitePerformanceViewer.Handler.ViewModels.PagePerformanceDataViewModel PagePerformanceData { get; set; }
}

@*<div class="choose_aggregation_container">Show:
<ul class="choose_aggregation">
<li id="aggregation_now">now</li>
<li id="aggregation_15min">15 min</li>
<li id="aggregation_previous_hour">previous hour</li>
<li id="aggregation_current_hour">current hour</li>
<li id="aggregation_today">today</li>
<li id="aggregation_yesterday">yesterday</li>
</ul>
</div>*@
<div class="pages_table_container loading">
		
<table>
<thead>
	<tr>
		<th class="head_page"><span>Page</span></th>
		<th>Count</th>
		<th>Median</th>
		<th>Mean</th>
		<th>Sum</th>
	</tr>
</thead>
<tbody>
<tr><td class="total">All Pages</td><td>@PagePerformanceData.AllPages.Count</td><td>@PagePerformanceData.AllPages.Median</td><td>@PagePerformanceData.AllPages.Mean</td><td>@PagePerformanceData.AllPages.Sum</td></tr>
 @foreach(var page in PagePerformanceData.Pages) {
 <tr>
	<td>@page.PageName</td>
	<td>@page.Count</td>
	<td>@page.Median</td>
	<td>@page.Mean</td>
	<td>@page.Sum</td>
 </tr>
 }
</tbody>
</table>
</div>