@* Generator: Template *@


@*@{ 
	Layout = "test.cshtml";
}*@

@functions {
	public DateTime ActiveDate{get;set;}
	public PagePerformanceInsights.Handler.ViewModels.PPIOperationalInfoViewModel OperationalInfo{get;set;}
}

<!doctype html>
<html>
<head>
<title>ASP.NET Site Performance Viewer</title>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", { packages: ["corechart"] });
</script>




@PagePerformanceInsights.Handler.Helpers.HandlerHelpers.IncludeStyleSheet("/CSS/jquery.dataTables.css")
@PagePerformanceInsights.Handler.Helpers.HandlerHelpers.IncludeStyleSheet("/CSS/Main.css")

@PagePerformanceInsights.Handler.Helpers.HandlerHelpers.IncludeJavaScript("/Scripts/jquery-2.0.3.js")
@PagePerformanceInsights.Handler.Helpers.HandlerHelpers.IncludeJavaScript("/Scripts/jquery.dataTables.js")

@PagePerformanceInsights.Handler.Helpers.HandlerHelpers.IncludeJavaScript("/Scripts/Main.js")

@*todo: put local*@
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script type="text/javascript">
	(function () {
		var handlerUrl = '@PagePerformanceInsights.Handler.Helpers.HandlerHelpers.HandlerPath';
		window.GetRelativeUrl =	function (url) {
			return handlerUrl + '?'+url;
		}
		window.GetDataUrl = function (url) {
			return handlerUrl + '?data=' + encodeURIComponent(url);
		}
	})();
</script>

</head>
<body>


<div class="body_wrapper">
	<div class="date_selector">
	<form>
	<div class="pages_date_selector">
		<input class="active_date" name="active_date" type="hidden" value="@ActiveDate.Date.ToString("yyyy-MM-dd")" />
	<label>Insights for
		<input class="select_day" type="text" value="today" />
	</label>
	</div>
	</form>
	</div>
	<div class="pages_table_pane pane col2 loading_data">
		
	</div>
	<div class="pane col2 chart_col">
		<div class="distribution_pane pane loading_data">
		</div>
		<div class="trend_pane pane loading_data">
		</div>
	</div>
	<div class="operational_stats">
		<ul>
			<li>Queue size: @OperationalInfo.QueueSize</li>
			<li>PrivateBytes (MB): @OperationalInfo.PrivateBytesMB</li>
			<li>Analyzed request/sec: @OperationalInfo.AnalyzedRequestsPerSecond</li>
			<li>Buffer flush frequency (/sec): @OperationalInfo.BufferFlushFrequency</li>
		</ul>
	</div>
</div>
</body>
</html>